<h4><%= Exam.find(params[:id]).name %></h4>
<%= render partial: 'user_rank' %>
<div class="col-md-3"><table class="table table-striped">
	<tr><%= link_to "Overall Rank", "#" %></tr>
	<% i = 1 %>
	<% @ranks.order(mark: :desc).limit(11).each do |rank| %>
	   <tr><th><%= i %></th><th><%= rank.user.name %></th></tr>
	   <% i +=1 %>
	<% end %>
</table></div></div>